body
{
    background-color: lightblue;
    font: Serif;
}

.logo
{
    text-indent:-9999px;
    background: url('logo.PNG');
    background-image: url('logo.PNG');
    height: 250px;
    width: 250px;
}

h1
{
    background-color: cadetblue;
    align-items: center;
    justify-content: space-between;
}

div
{
    height:5px;
    width:20px;
}

nav
{
    align-items: center;
    justify-content: space-between;
    font-size: 14;
}
